Django==2.0.2
Pillow==5.0.0
django-cors-headers==1.1.0
django-countries==5.1.1
django-extensions==1.5.5
django-grappelli==2.7.1
-e git+https://github.com/django-tastypie/django-tastypie#egg=django-tastypie
djangorestframework==3.4.1
django-tastypie-swagger==0.1.2
django-languages==0.1
djangorestframework-jwt==1.8.0
django-rest-auth[with_social]==0.8.2
django-filter==1.0.1
django-guardian==1.4.9
django-model-utils==2.2
# django-markdownx==2.0.22
# django-uuidfield==0.5
django-sortedm2m==1.5.0
django-haystack==2.4.1
drf-haystack==1.5.6
elasticsearch==2.3.0
elasticstack==0.1.1
django-polymorphic==2.0.2
django-categories==1.5.4
django-pagedown==1.0.4
