{% extends "base-candidature-email.html" %}

{% block title %}
Selection -  Candidature waitlist for interview
{% endblock %}

{% block content %}



<p>Bonjour {{ application.artist }},</p>

<p>Vous avez candidaté au concours {{ application.campaign.promotion.starting_year }} du Fresnoy – Studio national et nous vous en remercions.</p>

<p>Vous faites partie des candidat.es actuellement sur liste d’attente pour l’entretien.</p>

<p>En cas de désistement d’une personne présélectionnée, nous vous recontacterons afin de vous informer des modalités de l’entretien avec le Grand Jury. Ces rencontres auront lieu entre le lundi 28 juin et le vendredi 2 juillet 2021.</p>

<p>N’hésitez pas à nous contacter pour toute information complémentaire (<a href="mailto:selection@lefresnoy.net">selection@lefresnoy.net</a>).</p>

Salutations cordiales,

L’équipe du Fresnoy – Studio national

<hr/>
<p style="text-align:center;">English version below</p>
<hr/>






{% endblock %}
