<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
      <title>
        {% block title %}{% endblock %}
      </title>
    </head>
    <body style="color: black; background-color: #31bdf0;" bgcolor="#31bdf0">
      <div class="page" style="max-width: 960px; width: 80%; background-color: white; margin: 10px;">
          <img src="https://app.lefresnoy.net/candidatures/assets/logo-fresnoy.png" alt="Logo Le Fresnoy - Studio national des arts contemporains" />
            <div style="padding: 10px;">
              {% block content %}{% endblock %}
            </div>
      </div>
    </body>
</html>
